*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    font-display:inherit;
    color:white;
}
.outer{
    height:690px;
    width:300px;
    background-color:wheat;
}
.inner{
width:300px;
height:60%;
background-color:rgb(255, 25, 0);
border-bottom-left-radius:50px;
}
.below{
    height:100px;
    margin:20px;
    padding:20px;
    border-radius:20px;
    background-color:blue;
}
.w{
margin-top:30px;
margin-left:10;
}
.a{
    margin-bottom:20px;
}
.yellow{
    background-color:aqua;
}
.toy{
    margin:25px;
    padding:15px;
    padding-top:50px;
    padding-left:5px;
    padding-bottom:5px;

}
.arrow{
    color: white;
}
img{
    position:absolute;
    top:120px;
    left:130px;
    width:170px;
}


